#name{
    text-align: center;
    font-weight: bold;
}
#address{
    text-align: center;
    font-weight: lighter;
}
#info{
    text-align: center;
    font-weight: lighter;
    color: skyblue;
}
.divclass{
    font-weight: normal;
}
#bodyclass{
    padding: 10px 100px 10px 100px;
}
a{
    text-decoration: none;
    color: blue;
}
